/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/
:root{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 10px;
}

h1{
  font-size: 2rem;
  color: #060ce9;
  
}
td{
  font-size: 1.2rem;
}